

<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav class="nav navbar-nav navbar-left">
            <span class="title2">Bookers</span>
        </nav>
        <nav>
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>

<li><%= link_to "Home", user_path(current_user), class: "glyphicon glyphicon-home" %></li>
          <li><%= link_to "User", users_path(@users), class: "glyphicon glyphicon-user" %></li>
          <li><%= link_to "Books", posts_path(@posts), class: "glyphicon glyphicon-book" %></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>

<% else %>
                <li><%= link_to "Top", bookers_index_path, class: "glyphicon glyphicon-home" %></li>
                <li><%= link_to "About", bookers_about_path, class: "glyphicon glyphicon-user" %></li>
                <li><%= link_to "Signin", new_user_session_path(@posts), class: "glyphicon glyphicon-log-in" %></li>
                <li><%= link_to "Signup", new_user_registration_path, class: "glyphicon glyphicon-edit" %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>



