<%= render 'posts/list', posts: @posts %>



<div class="booksbody">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">

        <div class="profile-container">
          <h1>User info</h1>
          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>  <!-- # このように変更 -->
          <table class="table">
            <tr>
              <td>Name</td>
              <td> <%= current_user.name %></td>
            </tr>
            <tr>
              <td>Introduction</td>
              <td><%= current_user.introduction %></td>
            </tr>

          </table>
          <% if @user.id == current_user.id %>
          <p><%= link_to "", edit_user_path(@user),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
          <% end %>



        </div>

        <h1>New book</h1>
        <%= form_for(@posts) do |f| %>
        <div class="field row"><p>Title</p>
          <%= f.text_field :books_name,class: "col-xs-12" %>
        </div>

        <div class="field row"> <p>Opinion</p>
          <%= f.text_area :caption,class: "col-xs-12" %>
        </div>
        <br>

        <%= f.submit "Create Book",class: "btn btn-primary col-xs-12" %>


        <% end %>
      </div>


      <div class="col-xs-9">

        <h1>Book detail</h1>

        <table class="table">
          <tbody>
           <tr>
            <td><%= attachment_image_tag @post.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", :size => "40x40" %>
              <br>
              <%=link_to user_path(@post.user) do %>
              <%= @post.user.name %>
              <% end %>
            </td>
            <td><%= @post.books_name %></td>
            <td><%= @post.caption %></td>
            <% if @post.user == current_user %>

            <td><%= link_to "Edit", edit_post_path(@post),class: "btn-sm btn-success"%></td>

            <td><%= link_to "Destroy", post_path(@post), method: :delete,data: { confirm: '削除しますか？' },class: "btn-sm btn-danger" %>
            </td>

            <% end %>
          </tr>
        </tbody>
      </table>
    </div>


    <%= render 'posts/list2', posts: @posts %>



